

//dark colors
$tertiary-dark:#151619;
$secondary-dark:#1d1f22;
$primary-dark:#2b2d31;
$light-dark: #35393f;


//pink colors
$secondary-pink:#e46643;
$primary-pink:#f39765;

//white colors
$primary-white: #ffffff;
$secondary-white: #f5f5f5;

//grey colors
$tertiary-grey: #5a6069;
$secondary-grey: #7c8187;
$primary-grey: #c1c4cb;
$light-grey: #e4e4e4;

