@import '../../styles/variables';

.outputArea {
   
    &--wrapper {
        // margin-top: 30px;
        width: 48vw;
        height: 100% ;

    }

  &--title {
    // padding-top: 20px;
    font-size: 15px;
    width: 100%;
    height: 30px;
  }
  &--text {
    width: 100%;
    height: 100% ;
    font-size: 12px;
    padding: 2px 5px;

  }

}
