@import '../../styles/variables';
@import '../../styles/mixin';

.header {
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    position: relative;
    background-color: $secondary-dark;

    @media screen and (max-width: 556px){
      & {
        height: 10%;
        padding-top: 5px;
        }
    }

   &__burger {
    margin-top: 3px;
   }

   

   &__title {
    position: absolute;
    top: 4%;
    left: 5%;
    text-transform: uppercase;
    font-size: .8rem;
    color: $primary-white;
    letter-spacing: 2px;
    @media screen and (max-width: 556px){
        & {
            left: 10%;
            height: 20px; 
            font-size: .6rem;
            top: 15%;
            text-align: center;
          }
        }
   }
   


   &__name {
    min-height: 50%;
    text-transform: capitalize;
    position: absolute;
    top: 3%;
    left: 30%;
    font-size: .4rem;
    color: $primary-grey;
    border-left: 1px solid $primary-grey;
    padding: 8px;

   }
}


.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: $tertiary-grey;

    @media screen and (max-width: 556px){
        & {
            margin: 6px 1px 1px 5px;
        }
        
    }

}


.btn {
    position: absolute;
    top: 25%;
    right: 5%;
    display: block;
    width: 110px;
    height: 20px;
    color: $primary-white;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 3px;

   @include orangeBtn;

   &--show {
    visibility: hidden;
    opacity: 0;
   }
}
@media screen and (max-width: 556px){
    .btn--orange {
        // top: 15%;
        max-width: 30px;
        padding: 0px;
        height: 20px;
        background-color: $secondary-pink;
    }
    .btn {
        top: 15px!important;
    }
    
}
.delete {
    font-size: 1rem;
    position: absolute;
    right: 9rem;
    top: 9px;
    color: $secondary-grey;

    @media screen and (max-width:556px){
        & {
            right: 15%;
            top: 17px;
        }
        
    }
}