/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 23px;
    height: 21px;
    left: 10px;
    top: 13px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #e4e4e4;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    max-width: 25%;
    margin-left: -20px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #1d1f22;
    padding: 2.5em 1.5em 0;
    font-size: .9em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
 /* Individual item */
.bm-item {
    display: inline-block;
    color: #d1d1d1;
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .btn--orange {
    background-color: #e46643;
    border: none;
    outline: none;
    font-size: 8px;
    width: 110px;
    height: 30px;
    text-align: center;
  }
