@import '../src/styles/variables.scss';
html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap; 
  position: relative;
  

  &--show {
    transform: translateX(120px);
  }

  &-body--darkmode {
    background: $primary-dark;
    color: #fff;
  }
}

.app-body {
  display: flex;
  flex-wrap: wrap;
  height: 84%;
  width: 100%;
  // margin-top: -15px;

  // &--darkmode {
  //   background-color: #000;
  //   color: #fff;
  // }
}
