@import '../../styles/variables';

.modal {
    width: 150px;
    height: 100px;
    position: fixed;
    top: 60%;
    left: 50%;
    border-radius: 9px;
    transform: translate(-50%, -50%);
    background-color: $primary-white;
    font-size: 9px;
    color: $primary-dark;
    padding-left: 15px;
    box-shadow: 1px 2px 1px $primary-grey;

    &--title {
        font-size: 9px;
        line-height: 9px;
        font-weight: 600;
        color: $secondary-dark;
    }

}